li::marker {
  color: #ff5323
}
.bar {
  padding: 10px 50px;
  text-align: center;
  background: #ff5323;
  color: white;
  font-size: medium;
}
#content-box {
  margin: auto;
  width: 50%;
  padding: 10px;
}