<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="robots" content="index, follow">

        {% block css %}
        <link rel="stylesheet" type="text/css" href="https://speyll.github.io/suCSS/reset-min.css"/>
        <link rel="stylesheet" type="text/css" href="https://speyll.github.io/suCSS/suCSS-min.css"/>
        <link rel="stylesheet" type="text/css" href="css\style.css"/>
        {% endblock css %}
    </head>
    <body>
        <header>
            {% include "header.html" %}
        </header>
        <main>
            <div class="padded">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        <footer>
            
        </footer>
    </body>
</html>