<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="robots" content="index, follow">
        <meta content="KnownSH" property="og:title" />
        <meta content="Your looking at this on Discord, aren't you?" property="og:description" />
        <meta content="https://knownsh.cc/" property="og:url" />
        <meta content="#ff8c21" data-react-helmet="true" name="theme-color" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <title> KnownSH's Website </title>

        {% block css %}
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        {% endblock css %}
    </head>
    <body>
        <header>
            {% include "header.html" %}
        </header>
        <main>
            <div id="content-box">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        <footer>
            {% include "footer.html" %}
        </footer>
    </body>
</html>